body {
    width: 100%;
    height: 100%;
}

.main {
    background-image: url(./background-img.jpg);
    position: relative;
    background-size: cover;
    margin: 0px 20px 10px 10px;
    background-attachment: fixed;
    height: 470px;
}



#div1 {
    background-color: whitesmoke;
    width: 72.9%;
    float: right;
    margin-top: 20px;
    margin-right: 42.2px;
    height: 90px;
    padding-left: 40px;
    position: absolute;
    margin-left: 200px;
}

.menu {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    float: left;
    margin-left: 113px;
    height: 90px;

}

.home {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.home2 {
    color: #28282c;
    text-decoration: none;
}

.home2:hover:hover {
    color: rgb(238, 52, 10);
    /* cursor: pointer; */
}

.project {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.project2 {
    color: #28282c;
    text-decoration: none;

}

.project2:hover {
    color: rgb(238, 52, 10);
    cursor: pointer;
}

.bout {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.bout2 {
    color: #28282c;
    text-decoration: none;
}

.bout2:hover {
    color: rgb(238, 52, 10);
    cursor: pointer;
}

.services {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.services2 {
    color: #28282c;
    text-decoration: none;
}

.services2:hover {
    color: rgb(238, 52, 10);
    cursor: pointer;
}

.blogs {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.blogs2 {
    color: #28282c;
    text-decoration: none;
}

.blogs2:hover {
    color: rgb(238, 52, 10);
    cursor: pointer;
}

.pages {
    /* background-color: beige; */
    margin-right: 35px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.pages2 {
    color: #28282c;
    text-decoration: none;

}

.pages2:hover {
    color: rgb(238, 52, 10);
    cursor: pointer;
}

#div2 {
    background-color: rgb(242, 83, 25);
    width: 125px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px 0px 20px 30px;
    height: 70px;
    position: absolute;

}

.logo-pic {
    width: 90px;
    height: 20px;
    padding-top: 30px;
}

.last {
    background-color: rgb(242, 83, 25);
    width: 150px;
    float: right;
    height: 60px;
    padding-top: 30px;
    margin-top: 0px;
}
.last:hover{
    cursor: pointer;
    opacity: 0.6;
}

.line {
    padding-left: 20px;
    font-family: 'Dosis', sans-serif;
    margin-top: 5px;
    color: whitesmoke;
}
.dream {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    color: whitesmoke;
    width: 550px;
    margin-left: 0px;
    padding-left: 53px;
    padding-top: 90px;
    margin-bottom: 0px;
}

.under {

    padding-top: 0px;
    width: 500px;
    margin-left: 45px;
    word-spacing: 2px;
    padding-left: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: rgb(230, 227, 227);
    margin-top: 0px;

}

#icons {
    /* background-color: green; */
    width: 60px;
    float: right;
    margin-top: 75px;
    padding-left: 30px;

}

.icon {
    background-color: rgb(3, 3, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 235px;
    margin-top: 0px;
    position: absolute;
}



.facebook {
    margin: 20px;
}

.fa-facebook-f {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;

}

.twitter {
    margin: 20px;
}

.fa-twitter {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;

}

.linkedin {

    margin: 20px;
}

.fa-linkedin-in {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;
}

.instagram {
    margin: 20px;
}

.fa-instagram {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;
}

.or {
    background-color: rgb(242, 83, 25);
    padding: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    width: 950px;

}

.or1 {
    position: absolute;
    background-color: rgb(236, 70, 9);
    width: 130px;
    float: left;
    height: 30px;
    padding: 22px 0px 10px 22px;
    margin: 15px 0px 0px 50px;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 700;
}

.p1 {
    font-size: 13px;
    padding-top: 10px;
    font-weight: 600;
    color: whitesmoke;

}

.p2 {
    font-size: 20px;

    font-weight: 200;
    color: rgb(205, 203, 203);
}

.or2 {
    /* background-color: beige;  */
    margin-left: 130px;
    font-family: 'Dosis', sans-serif;
    width: 150px;
    height: 200px;
    text-align: center;

}

.fa-phone {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 50px;
}

.or3 {

    margin: 20px 0px 0px 110px;
    font-family: 'Dosis', sans-serif;
    color: black;
    font-size: 13px;
    width: 150px;
    height: 200px;
    text-align: center;
}

.fa-envelope {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 30px;

}

.or4 {

    margin: 20px 0px 0px 80px;
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    width: 300px;
    height: 200px;
    text-align: center;

}

.fa-clock {
    color: whitesmoke;
    font-size: 25px;
    padding-top: 30px;

}

#secmain {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    margin: 20px 20px 0px 20px;

}

.ser {
    position: relative;
    padding-left: 10px;
    height: 160px;
}

.ser p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 100px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-top: 20px;
    padding: 0px;

}

.special {
    margin-top: 50px;
    position: absolute;
    padding-left: 55px;
    width: 500px;
}

.special h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.6;

}

.view {
    margin-left: 310px;
    margin-top: 100px;
    width: 200px;
    height: 40px;
    padding-left: 30px;
}

.view:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(234, 78, 21);
    cursor: pointer;
}

.view h2 {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    padding: 10px 10px 10px 20px;
    margin: 0px;
    color: #414147;
    opacity: 0.4;
}

.third {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 30px;

}

.renovation {
    color: #414147;
    font-family: 'Dosis', sans-serif;
    padding-right: 10px;
}

.renovation h4 {
    color: black;
}

.architecture {
    color: #414147;
    font-family: 'Dosis', sans-serif;
    padding-right: 10px;
}

.architecture h4 {
    color: black;
}

.construction {
    color: #414147;
    font-family: 'Dosis', sans-serif;
    padding-right: 10px;
}

.construction h4 {
    color: black;
}

.finance {
    color: #414147;
    font-family: 'Dosis', sans-serif;
    padding-right: 10px;
}

.finance h4 {
    color: black;
}

.photo {

    width: 500px;
    float: left;
    height: 516px;
    margin: 20px 0px 0px 20px;
}

.shape-image {
    padding-top: 170px;
    width: 400px;
    height: 280px;
    padding-left: 40px;
}

#pharagraph {
    width: 50%;
    float: right;

}

.pg {
    position: relative;
    height: 160px;

}

.pg p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 125px;
    font-weight: 550;
    letter-spacing: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 20px;
}

.who-we-are {
    margin-top: 45px;
    position: absolute;
    padding-left: 40px;
    width: 500px;
    margin-left: 40px;

}

.who-we-are h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
}

.based {
    width: 350px;
    margin-left: 100px;
    margin-right: 50px;
    padding-right: 20px;
}

.based p {
    font-family: 'Dosis', sans-serif;
    color: #64646b;
    font-weight: 400;
}

.meet {

    font-family: 'Dosis', sans-serif;
    color: #707080;
    font-weight: 600;
    opacity: 0.7;
    font-size: 13px;
}

.fourth {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    margin: 20px;


}

.c170 {
    margin: 20px;
    padding-top: 0px;
    width: 200px;
    height: 200px;
    justify-items: center;

}

.c170 P {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707080;

}

.num {
    color: #e47312;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;

}

.c10 {
    margin: 0px;
    width: 200px;
    height: 200px;
}

.c10 P {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707080;

}

.c690 {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.c690 P {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707080;

}

.c71 {
    margin: 20px;
    width: 200px;
    height: 200px;
    margin-left: 10px;
}

.c71 P {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #707080;
}

/* 4thmain */
.main4 {
    background-color: rgb(233, 233, 233);
    margin: 30px;
}

#main-4 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    margin: 20px 20px 0px -30px;

}

.pro {
    position: relative;
    height: 160px;
    background-color: #e47312;
}

.pro p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 100px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-top: 20px;
    position: absolute;

}

.our-works {
    margin-top: 50px;
    position: absolute;
    padding-left: 45px;
    width: 400px;
    height: 60px;
}

.our-works h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.6;

}

.view-2 {
    margin-left: 860px;
    width: 187px;
    height: 40px;
    margin-top: 100px;
    position: absolute;
}

.view-2 h2 {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    color: #414147;
    opacity: 0.4;

}

.view-2:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(234, 78, 21);
    cursor: pointer;
}

#photo-1 {
    /* background-color: aquamarine;   */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 20px 0px 20px;
}

.child-22 {
    /* background-color: beige; */
    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 100%;
}

.p-1 {
    width: 300px;
}

.p-4 {
    width: 300px;
}

.p-3 {
    width: 300px;
}

#photo-2 {
    /* background-color: black;  */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px 0px 20px;

}

.child-33 {
    /* background-color: beige; */
    margin: 0px 10px 0px 10px;
    width: 300px;
    height: 100%;

}

.p-1:hover {
    color: #2a2a2d;
    cursor: pointer;
}

.p-6 {
    width: 300px;
}

.p-5 {
    width: 300px;
}

.p-2 {
    width: 300px;
}

.circle1 {

    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;


}

.circle1:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);

}

.viewproject {
    /* background-color: greenyellow;  */
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    width: 80px;
    height: 80px;
    border-radius: 100%;

}

.viewproject:hover {
    color: #fff;

}

.circle2 {

    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}

.circle2:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
}

.circle3 {
    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}

.circle3:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
}

.circle4 {
    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}

.circle4:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
}

.circle5 {
    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}

.circle5:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
}

.circle6 {
    position: absolute;
    margin-top: -180px;
    margin-left: 110px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}

.circle6:hover {
    position: absolute;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
}
.color-div{
    padding-top: 7%;
    padding-bottom: 3%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed; 
    height: 230px; 
}
.heading h1{
      /* background-color: aqua;   */
    width: 800px;
    margin-left: 130px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    /* padding-left: 50px; */
    font-size: 40px;
    line-height: 2;
    padding-top: 0px;
    margin-top: 0px;
    letter-spacing: 2px;
    font-weight: 550;
    margin-bottom: 0px;
}
.heading p{
     /* background-color: green;  */
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    width: 600px;
    margin-left: 240px;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 40px;  
}
.last1 {
    width: 150px;
    height: 60px;
    margin-left: 460px;
    margin-top: 20px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    padding-top: 8px;
    font-size: 13px;

}
.last1:hover{
    cursor: pointer;
    opacity: 0.6;
    text-decoration: underline;
    color: #fff;
}
#main-5 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    margin: 20px 20px 0px 0px;

}

.team {
    position: relative;
    height: 160px;
}

.team p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 100px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-top: 20px;
    position: absolute;

}

.prof {
    margin-top: 50px;
    position: absolute;
    padding-left: 50px;
    width: 400px;
    height: 60px;
}

.prof h2 {

    font-family: 'Dosis', sans-serif;
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 1px;
}

.view-3 {
    margin-left: 860px;
    width: 187px;
    height: 40px;
    margin-top: 100px;
    position: absolute;
}

.view-3 h2 {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    color: #414147;
    opacity: 0.4;

}

.view-2:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(234, 78, 21);
    cursor: pointer;
}
.main6{
    padding: 20px;
}
.main-6 {
     /* background-color: aquamarine;  */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ch1 {
    background-color: beige;
    margin: 20px;
    width: 25%;
    min-height: 300px;
    background-image: url(team-1.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.name1{
    background-color: white;
    width: 194px;
    margin-top: 300px;
    position: absolute;
    height: 100px;
    padding-top: 20px;
}
 .name2{
    /* background-color: greenyellow; */

    color: #18181a;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    font-size: 8px;
    font-weight: 200;
    padding-left: 30px;
    margin-bottom: 0px

} 
 .md{
     /* background-color: aqua;  */
    font-family: 'Dosis', sans-serif;
    color: #303033;
    font-size: 15px;
    width: 100px;
    margin-top: 55px;
    font-weight: 500;
    padding-left: 30px; 
    position: absolute;
 }
 .icon1 {
    background-color: #e47312;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 150px;
    /* margin-top: 150px; */
    position: absolute;
    margin-left: 133px;
    margin-top: -50px;
} 



 .facebook1 {
    margin: 15px;
}

.fa-facebook-f {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;
    

}

.twitter2 {
    margin: 15px;
}

.fa-twitter {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;

}

.linkedin3 {

    margin: 15px;
}

.fa-linkedin-in {
    font-size: 15px;
    padding: 0px;
    color: white;
    font-size: 2x;
} 
.ch2 {
    background-color: beige;
    margin:20px;
    width: 25%;
    min-height: 300px;
    background-image: url(team-2.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ch3 {
    background-color: beige;
    margin:20px;
    width: 25%;
    min-height: 300px;
    background-image: url(team-3.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ch4 {
    background-color: beige;
    margin:20px;
    width: 25%;
    min-height: 300px;
    background-image: url(team-4.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.main7 {
     /* background-color: greenyellow;  */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 130px;
}

.biggy {
    /* background-color: beige; */
   margin: 5px;
    width: 350px;
    height: 300px;
    margin-right: 20px;
    margin-top: 100px;
}
.biggy1 {
    /* background-color: beige; */
    margin: 5px;
    width: 350px;
    height: 300px;
}


.cli{
    position: relative;
    height: 160px;
    margin-top: 140px;
}
.cli p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 115px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-top: 20px;
    position: absolute;
    margin-left: -50px;
}
.test {
    padding-left: 50px;
    width: 400px;
    height: 60px;
    margin-top: -80px;
}

.test h2 {
 /* background-color: #18181a;  */
     font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0px;
    position: absolute;
    margin-left: -50px;
 }
.TTT{
     /* background-color: #ff6361;  */
}
.TTT p{
    /* background-color: #e47312; */
     font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: 300px;
    color: #414147;
    
} 
 .view2 { 
    width: 187px;
    height: 40px;
     /* margin-left: 50px; */
    margin-top: 30px; 
} 

 .view2 h2 { 
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    color: #414147;
    opacity: 0.4;

}

.biggy1 {
    /* background-color: beige; */
    margin: 5px;
    width: 550px;
    height: 300px;
}
.biggy1-p {
    /* background-color: aquamarine; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cd-1 {
    background-color: beige;
    margin:20px;
    width: 250px;
    font-family: 'Dosis', sans-serif;
    height: 290px;
    text-align: center;
}
.round{
    position: absolute;
    width: 60px;
    height: 60px;
    justify-content: center;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    margin-left: 80px;
    margin-top: -30px;
    text-align: center;
}
.round p{
   
    margin-top: 17px;
}
.cd-2 {
    background-color: beige;
   margin-top: 150px;
    width: 250px;
    font-family: 'Dosis', sans-serif;
    text-align: center;

}
.cd-1{
    /* background-color: #e47312; */

}
.cdh{
    /* background-color: #ff6361; */
    color: #121213;
    margin-top: 60px;
    margin-bottom: 0px;
}
.job-title{
    /* background-color: green; */
    color: #bdbdc9;
    margin-top: 0px;
}
.class1{
    margin-top: 5px;
    /* background-color: aliceblue; */
    color: #919197;
    
}
.cd-2{
    /* background-color: #e47312; */
    height: 250px;

}
.cdI{
      /* background-color: #ff6361;   */
    color: #121213;
    margin-top: 70px;
    margin-bottom: 0px;
    
}
.job-title1{
     /* background-color: green;  */
    color: #bdbdc9;
    margin-top: 0px;
}
.class2{
    margin-top: 15px;
      /* background-color: aliceblue;  */
    color: #919197;
    padding-bottom: 40px;   
}
.parent {
    /* background-color: #ff6361; */
    padding-top: 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.child22 {
    /* background-color: beige; */
    margin:20px;
    margin-left: 370px;
    margin-top: 0px;
}

.biggy2 {
    /* background-color: beige; */
    margin: 5px;
    width: 550px;
    height: 300px;
    float: right;
}
.biggy2-p {
    /* background-color: aquamarine; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cd-3 {
    background-color: beige;
    margin: 20px;
    width: 250px;
    font-family: 'Dosis', sans-serif;
    height: 290px;
    text-align: center;
    margin-top: -10px;
}
.round{
    position: absolute;
    width: 60px;
    height: 60px;
    justify-content: center;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    margin-left: 80px;
    margin-top: -30px;
    text-align: center;
}
.round p{
   
    margin-top: 17px;
}
.cd-4 {
    background-color: beige;
    width: 250px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-top: 50px;

}
.cd-3{
    /* background-color: #e47312; */

}
.cdh1{
    /* background-color: #ff6361; */
    color: #121213;
    margin-top: 60px;
    margin-bottom: 0px;
}
.job-title2{
    /* background-color: green; */
    color: #bdbdc9;
    margin-top: 0px;
}
.class3{
    margin-top: 5px;
    /* background-color: aliceblue; */
    color: #919197;
    
}
.cd-2{
    /* background-color: #e47312; */
    height: 250px;

}
.cdR{
      /* background-color: #ff6361;   */
    color: #121213;
    margin-top: 70px;
    margin-bottom: 0px;
    
}
.job-title3{
     /* background-color: green;  */
    color: #bdbdc9;
    margin-top: 0px;
}
.class4{
    margin-top: 15px;
      /* background-color: aliceblue;  */
    color: #919197;
    padding-bottom: 40px;   
}
.main8 {
    /* background-color: rgb(233, 233, 233); */
    margin: 30px;
}

#main-8 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    margin: 20px 20px 0px 0px;

}

.BBB {
    position: relative;
    height: 160px;
    background-color: #e47312;
}

.BBB p {
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    font-size: 100px;
    font-weight: 550;
    letter-spacing: 10px;
    margin-top: 20px;
    position: absolute;

}

.NEWS {
    margin-top: 50px;
    position: absolute;
    padding-left: 45px;
    width: 400px;
    height: 60px;
}

.NEWS h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.6;

}

.BBBB {
    margin-left: 820px;
    width: 187px;
    height: 40px;
    margin-top: 100px;
    position: absolute;
}

.BBBB h2 {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin-left: 70px;
    color: #414147;
    opacity: 0.4;

}

.view-2:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(234, 78, 21);
    cursor: pointer;
}
.five {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.five1 {
    background-color: beige;
    margin:20px;
    width: 300px;
     height: 400px;
     margin-right: 10px;
}
.five3 {
    background-color: beige;
    margin:20px;
    width: 300px;
     height: 400px;
     margin-right: 10px;
}
.five2 {
    background-color: beige;
    margin:20px;
    width: 300px;
     height: 400px;
     margin-right: 10px;
}




/* }
@media screen and (max-width: 767px)
.team-photo {
    min-height: 300px;
}
@media screen and (max-width: 991px)
.team-photo {
    min-height: 200px;
}
.team-photo {
    min-height: 300px;
    background-image: url(../img/team-1.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
} */
